<section>
  <div class="container">
    <div class="row">
      <div class="col-md-7 m-auto">
        <div class="d-flex justify-content-center">
          <img class="w-50" src="../../../../../assets/images/svg/logo.svg">
        </div>
        <div class="auth-form mt-4">
          <p class="m-0">welcome to PMS</p>
          <h3 class="main-header">Forget Password</h3>
          <form [formGroup]="requestForm" (ngSubmit)="onRequest()">
            <mat-form-field class="dark-input">
              <mat-label>E-mail</mat-label>
              <input type="email" matInput formControlName="email" placeholder="Enter your E-mail">
              <mat-error *ngIf="email?.invalid && email?.touched">
                <span *ngIf="email?.hasError('required')">Email is required</span>
                <span *ngIf="email?.hasError('email')">
                  Please enter a valid email address
                </span>
              </mat-error>
            </mat-form-field>
            <p class="text-danger">{{error}}</p>
            {{error}}
            <button [disabled]="requestForm.invalid" class="button main-btn">Verify</button>
          </form>
        </div>

      </div>
    </div>
  </div>
</section>
