<section>
  <div class="container">
    <div class="row  ">
      <div class="col-md-7 mx-auto ">
        <div class="d-flex justify-content-center">
          <img class="w-50" src="../../../../../assets/images/svg/logo.svg">
        </div>
        <div class="auth-form my-4 ">
          <p class="m-0">welcome to PMS</p>
          <h3 class="main-header">Reset password</h3>
          <form [formGroup]="resetForm" (ngSubmit)="onReset()">
            <mat-form-field class="dark-input">
              <mat-label>E-mail</mat-label>
              <input readonly matInput type="email" formControlName="email" placeholder="Email" aria-label="Email"
                aria-describedby="basic-addon1">
              <mat-error *ngIf="email?.invalid || email?.touched">
                <span *ngIf="email?.errors?.['required']">Email is required</span>
                <span *ngIf="email?.errors?.['email']">Email is not valid</span>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="dark-input">
              <mat-label>Otp</mat-label>
              <input matInput type="text" formControlName="seed" placeholder="Enter Verification" aria-label="Otp"
                aria-describedby="basic-addon1">
              <mat-error *ngIf="seed?.invalid || seed?.touched">
                <span *ngIf="seed?.errors?.['required']">Otp is required</span>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="dark-input">
              <mat-label>Password</mat-label>
              <input placeholder="Enter your New Password" matInput
                [type]="isPasswordVisible['password'] ? 'text': 'password'" formControlName="password">
              <button type="button" class="icon-button" mat-icon-button matSuffix
                (click)="togglePasswordVisibility('password')" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="isPasswordVisible['password']">
                <i [ngClass]="isPasswordVisible['password'] ? 'fa-eye-slash': 'fa-eye'" class="fa-regular"></i>
              </button>
              <mat-error *ngIf="password?.invalid && password?.touched">
                <span *ngIf="password?.hasError('required')">Password is required</span>
                <span *ngIf="password?.hasError('pattern') && !(password?.hasError('required'))">Password should
                  contain at least 8 characters, one special character , and one digit.</span>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="dark-input">
              <mat-label>Confirm password</mat-label>
              <input placeholder="Confirm New Password" matInput
                [type]="isPasswordVisible['confirmPassword'] ? 'text': 'password'" formControlName="confirmPassword">
              <button type="button" class="icon-button" mat-icon-button matSuffix
                (click)="togglePasswordVisibility('confirmPassword')" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="isPasswordVisible['confirmPassword']">
                <i [ngClass]="isPasswordVisible['confirmPassword'] ? 'fa-eye-slash': 'fa-eye'" class="fa-regular"></i>
              </button>
              <mat-error *ngIf="confirmPassword?.touched">
                <span *ngIf="confirmPassword?.hasError('required')">confirm password is required</span>
              </mat-error>
            </mat-form-field>
            <mat-error *ngIf="password?.valid && (resetForm.hasError('PasswordNoMatch'))">
              Confirm password does not match with password
            </mat-error>
            <button [disabled]="resetForm.invalid" class="button main-btn">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
