<section class="sidebar-container">
  <div class="row">
    <div class="iconAnimation">
      <a (click)="onClicked()" [ngClass]="isOpened ? 'position-left' : 'position-right'"><i class="fa-solid"
          [class]="isOpened ? 'fa-chevron-left' : 'fa-chevron-right'"></i></a>
    </div>
    <ul class="p-3 me-3">
      <ng-container *ngFor="let item of menu">
        <li *ngIf="item.isActive" class="link">
          <a [routerLink]="item.link" routerLinkActive="active" [class]="isOpened?'':'justify-content-center'">
            <span class="sidebar-icon"><i class="fa-solid" [class]="item.icon"></i></span>
            <span class="sidebar-text" [ngClass]="{ 'd-none': !isOpened }">{{ item.text }}</span>
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
</section>
