<section>
  <div class="container">
    <div class="row  ">
      <div class="col-md-7 mx-auto ">
        <div class="d-flex justify-content-center">
          <img class="w-50" src="../../../../../assets/images/svg/logo.svg">
        </div>
        <div class="auth-form my-4 ">
          <p class="m-0">welcome to PMS</p>
          <h3 class="main-header">Change Password</h3>
          <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
            <mat-form-field class="dark-input">
              <mat-label>Old Password</mat-label>
              <input placeholder="Enter your Old Password" matInput
                [type]="isPasswordVisible['oldPassword'] ? 'text': 'password'" formControlName="oldPassword">
              <button type="button" class="icon-button" mat-icon-button matSuffix
                (click)="togglePasswordVisibility('oldPassword')" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="isPasswordVisible['oldPassword']">
                <i [ngClass]="isPasswordVisible['oldPassword'] ? 'fa-eye-slash': 'fa-eye'" class="fa-regular"></i>
              </button>
              <mat-error *ngIf="oldPassword?.invalid && oldPassword?.touched">
                <span *ngIf="oldPassword?.hasError('required')">Password is required</span>
                <span *ngIf="oldPassword?.hasError('pattern') && !(oldPassword?.hasError('required'))">Password should
                  contain at least 8 characters, one special character , and one digit.</span>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="dark-input">
              <mat-label>New Password</mat-label>
              <input placeholder="Enter your New Password" matInput
                [type]="isPasswordVisible['newPassword'] ? 'text': 'password'" formControlName="newPassword">
              <button type="button" class="icon-button" mat-icon-button matSuffix
                (click)="togglePasswordVisibility('newPassword')" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="isPasswordVisible['newPassword']">
                <i [ngClass]="isPasswordVisible['newPassword'] ? 'fa-eye-slash': 'fa-eye'" class="fa-regular"></i>
              </button>
              <mat-error *ngIf="newPassword?.invalid && newPassword?.touched">
                <span *ngIf="newPassword?.hasError('required')">Password is required</span>
                <span *ngIf="newPassword?.hasError('pattern') && !(newPassword?.hasError('required'))">Password should
                  contain at least 8 characters, one special character , and one digit.</span>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="dark-input">
              <mat-label>Confirm New Password</mat-label>
              <input placeholder="Confirm New Password" matInput
                [type]="isPasswordVisible['confirmNewPassword'] ? 'text': 'password'" formControlName="confirmNewPassword">
              <button type="button" class="icon-button" mat-icon-button matSuffix
                (click)="togglePasswordVisibility('confirmNewPassword')" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="isPasswordVisible['confirmNewPassword']">
                <i [ngClass]="isPasswordVisible['confirmNewPassword'] ? 'fa-eye-slash': 'fa-eye'" class="fa-regular"></i>
              </button>
              <mat-error *ngIf="confirmNewPassword?.touched">
                <span *ngIf="confirmNewPassword?.hasError('required')">confirm password is required</span>
              </mat-error>
            </mat-form-field>
            <mat-error *ngIf="oldPassword?.valid && (changePasswordForm.hasError('PasswordNoMatch'))">
              Confirm password does not match with password
            </mat-error>
            <button [disabled]="changePasswordForm.invalid" class="button main-btn">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

