<div class="table-responsive">
  <table mat-table [dataSource]="dataSource" matSort class="mat-table" (matSortChange)="announceSortChange($event)">
    <!-- Dynamic Columns -->
    <ng-container *ngFor="let column of data?.columns" [matColumnDef]="column.field">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.header }}</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="isArray(element[column.field])">
          <mat-chip-listbox>
            <mat-chip *ngFor="let item of element[column.field]">{{ item.title }}</mat-chip>
          </mat-chip-listbox>
        </ng-container>
        <ng-container *ngIf="column.field === 'creationDate' || column.field === 'modificationDate'">
          {{ element[column.field] | date: 'dd/MM/yyyy' }}
        </ng-container>
        <ng-container *ngIf="column.field === 'imagePath'">
          <img width="40px" height="40px"
            [src]="element[column.field] === null ? '../../../../assets/images/svg/profile-picture-placeholder.svg' : element[column.field]"
            alt="Profile Picture" class="rounded-circle" />
        </ng-container>
        <ng-container
          *ngIf="!isArray(element[column.field]) && column.field !== 'imagePath' && column.field !== 'creationDate' && column.field !== 'modificationDate'">
          <ng-container *ngIf="column.field === 'project'; else employee">
            {{ element[column.field]?.title }}
          </ng-container>
          <ng-template #employee>
            <ng-container *ngIf="column.field === 'employee'; else other">
              {{ element[column.field]?.userName }}
            </ng-container>
          </ng-template>
          <ng-template #other>
            {{ element[column.field] }}
          </ng-template>
        </ng-container>
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button class="icon-button" mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <ng-container *ngFor="let action of data?.actions">
            <button mat-menu-item class="icon-button" mat-button (click)="action.callback(element)">
              <mat-icon [color]="action.color">{{ action.icon }}</mat-icon>
              <span [ngClass]="action.color === 'warn' ? 'text-danger' : ''">{{ action.label }}</span>
            </button>
          </ng-container>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
