<section>
  <div class="container-fluid" >
      <div class="row">
        <mat-card class="py-4 overflow-x-scroll">
          <div class="row">
            <mat-form-field class="mdc-text-field-outlined rounded-full" appearance="outline">
              <mat-label>Search Fleets</mat-label>
              <input [(ngModel)]="searchValue" (keydown.enter)="getProjects()" matInput placeholder="Search fleets">
              <mat-icon matPrefix [color]="'accent'" class="">search</mat-icon>
              <mat-icon (click)="clearFilter()" *ngIf="searchValue !== ''" matSuffix>close</mat-icon>
            </mat-form-field>
          </div>
          <app-table [type]="tableType" [tableData]="tableData" *ngIf="tableData?.data?.data!.length >  0"></app-table>
          <app-paginator [pageNumber]="pageNumber" [pageSize]="pageSize" [totalRecords]="totalNumberOfRecords" (pageChange)="handlePageChange($event)" [pageSizeOptions]="[5, 10, 20]"></app-paginator>
        </mat-card>
      </div>
    </div>
  </section>
