<section>
  <div class="container">
    <div class="row">
      <div class="col-md-7 mx-auto mb-2">
        <div class="d-flex justify-content-center">
          <img class="w-50 mx-auto" src="../../../assets/images/svg/logo.svg" alt="pms logo">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 m-auto auth-form">
        <div class="my-4">
          <p class="m-0">Welcome to PMS</p>
          <h3 class="main-header">Log in</h3>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <mat-form-field class="dark-input">
            <mat-label>E-mail</mat-label>
            <input type="email" matInput formControlName="email" placeholder="Enter your E-mail">
            <mat-error *ngIf="email?.invalid && email?.touched">
              <span *ngIf="email?.hasError('required')">Email is required</span>
              <span *ngIf="email?.hasError('email')">
                Please enter a valid email address
              </span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="dark-input">
            <mat-label>Password</mat-label>
            <input placeholder="Enter your password" matInput [type]="isPasswordVisible ? 'text': 'password'" formControlName="password">
            <button class="icon-button" type="button" mat-icon-button matSuffix (click)="togglePasswordVisibility()" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="isPasswordVisible">
              <i [ngClass]="isPasswordVisible ? 'fa-eye-slash': 'fa-eye'" class="fa-regular"></i>
            </button>
            <mat-error *ngIf="password?.invalid && password?.touched">
              <span *ngIf="password?.hasError('required')">Password is required</span>
              <span *ngIf="password?.hasError('pattern') && !(password?.hasError('required'))">Password should contain at least 8 characters, one special character,
                  one lowercase letter, one uppercase letter, and one digit.</span>
            </mat-error>
          </mat-form-field>
          <div class="d-flex justify-content-between mt-2 mb-5">
            <a routerLink="/auth/register" class="text-decoration-none text-nowrap secondary-text-color">Register Now ?</a>
            <a routerLink="/auth/request-reset-password" class="main-color text-decoration-none text-nowrap">Forgot
              Password ?</a>
          </div>
          <p class="text-danger">{{error}}</p>
          {{error}}
          <div class="w-75 mx-auto">
            <button [disabled]="loginForm.invalid" class="button" type="submit">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
