@use "assets/scss/abstracts/variables" as vars;
@use "@angular/material" as mat;
@import "bootstrap/scss/bootstrap";
@import "assets/scss/layout.scss";

$custom-primary-palette: (
  50: #fef4e9,
  100: #fde2c3,
  200: #fbcf9a,
  300: #f9bc70,
  400: #f7ae50,
  500: #ef9b28,
  // Base primary color
  600: #e18e23,
  700: #d07e1c,
  800: #bf6f17,
  900: #9f570f,
  A100: #ffdfc4,
  A200: #ffc599,
  A400: #ffa96d,
  A700: #ff9353,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    // Use white text on the base primary color
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

// Custom Secondary Color Palette
$custom-secondary-palette: (
  50: #e4f0ed,
  100: #bddbd3,
  200: #92c5b7,
  300: #68af9c,
  400: #4b9d88,
  500: #0e382f,
  // Base secondary color
  600: #0c322a,
  700: #0a2b24,
  800: #08241f,
  900: #051813,
  A100: #91f0db,
  A200: #66e4c8,
  A400: #3bd6b3,
  A700: #1bcba4,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    // Use white text on the base secondary color
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$my-primary: mat.define-palette($custom-primary-palette, 500);
$my-accent: mat.define-palette($custom-secondary-palette, 500 ,A200, A100, A400);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);
// $my-dark-theme: mat.define-dark-theme(
//   (
//     color: (
//       primary: $my-primary,
//       accent: $my-accent,
//       warn: $my-warn,
//       background: (
//         default: #121212,
//         app-bar: #1e1e1e,
//         card: #1f1f1f,
//         dialog: #232323,
//         hover: #252525,
//       ),
//     ),
//     typography: mat.define-typography-config(),
//     density: 0,
//   )
// );
@include mat.core();

:root {
  @include mat.all-component-themes($my-theme);
}

// Include dark theme inside a dark-theme class
// .dark-theme {
//   @include mat.all-component-themes($my-dark-theme);
// }

