<div class="card mb-1 border-0 col-9 w-100">
  <div mat-dialog-title [align]="'end'" class="pe-3">
    <mat-icon [color]="'warn'" (click)="onNoClick()" class="mat-18">cancel</mat-icon>
  </div>
  <div class="content flex-column">
    <div class="image-container mb-5 w-100 align-items-center text-center">
      <img class="user-image rounded-3" [src]="data.item.imagePath"
      onerror="this.src='assets/images/svg/profile-picture-placeholder.svg'">
    </div>
    <div class="info row m-0">
      <div class="col-12 col-md-6">
        <span class="mb-3">Name: </span><strong> {{data.item.userName}}</strong>
      </div>
      <div class="col-12 col-md-6">
        <span class="mb-3">Phone: </span><strong> {{data.item.phoneNumber}}</strong>
      </div>
      <div class="col-12 col-md-6">
        <span class="mb-3">Country: </span><strong> {{data.item.country}}</strong>
      </div>
      <div class="col-12 col-md-6">
        <span class="mb-3">activity: </span><strong> {{data.item.isActivated?'Active':'Not Active'}}</strong>
      </div>
      <div class="col-12 col-md-6">
        <span class="mb-3">Creation Date: </span><strong> {{data.item.creationDate | date: "dd/MM/yyyy"}}</strong>
      </div>
      <div class="col-12 col-md-6">
        <span class="mb-3">Email: </span><strong> {{data.item.email}}</strong>
      </div>
    </div>
  </div>
</div>
